<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户Dao接口实现类 -->

<!-- 用户Dao接口 -->
<mapper namespace="com.dacheng.mapper.UserMapper">


	<sql id="userColumn">
		id,username userName,fullname fullName,password
		,head_img_url headImgUrl,email,status,createtime createTime,update_time updateTime
	</sql>
    
    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">  
	    insert into t_user(username, fullname, email, password, head_img_url, createtime, status)  
	    values(#{userName}, #{fullName}, #{email}, #{password}, #{headImgUrl}, now(),#{status})  
	</insert> 
	
	
	<select id="findUserByLoginNameAndPassword" resultType="User">
		select <include refid="userColumn" /> from t_user where username = #{loginName} and password = #{password}
	</select> 
	
	
	<select id="findUserById" resultType="User">
		select <include refid="userColumn" /> from t_user where id = #{id}
	</select> 
	
	<select id="findUserByLoginName" resultType="User">
		select <include refid="userColumn" /> from t_user where username = #{loginName}
	</select>
	
	 <select id="findUserList" resultType="User">
		select <include refid="userColumn" /> from t_user
		where 1 = 1
		<if test="status != null and status != '' ">
           and status = #{status}
        </if>
        <if test="userName != null and userName != '' ">
           and username = #{userName}
        </if>
        <if test="email != null and email != '' ">
           and email = #{email}
        </if>
        
        order by id
	</select>

</mapper>